<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
        placeholder="Post Title">
        <!-- #title="ngModel" is a local reference that allows *ngIf to reference title.invalid in the line below.  *ngIf is like an if statement that works only
        on the <mat-error> element, it needs a reference to the ngModel above to get access to the input that is named "title" in the input above. -->
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        #content="ngModel"
        placeholder="Post Content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
